extends layout

block map
  img(src="images/map.png" style="border-radius: 3px;")

block lineup
  .pure-g-r
    for band in studentBands
      .pure-u-1-3
        .band(style="background-image: url('#{band.image}')")
          .time #{band.startTime}
          .clear
          .name #{band.name}
    for band in artists
      if band.student
        .pure-u-1-5
        .pure-u-3-5
          .band.student(style="background-image: url('#{band.image}')")
            .time #{band.startTime}
            .clear
            .name #{band.name}
        .pure-u-1-5
      else
        .pure-u-1-5
        .pure-u-3-5  
          .band.headliner(style="background-image: url('#{band.image}')")
            .time #{band.startTime}
            .clear
            .name #{band.name}
        .pure-u-1-5


block food
  .panel.pure-g-r
    .pure-u-1 This has all dat food.  Can I get summa dat food info?

block info
  .panel.pure-g-r
    .pure-u-1 This has all dat information.  I'd like more information.  Yes.

block footer
  p Copy Rights By Marcus Russi And Isaac Morrier!!!! รง 2014!

block sidebar
  .opener
    img(src="images/logo.svg" height=250 width=250)

block main
  .main
    .pure-g-r
      .section.pure-u-1
        block map
      .section.pure-u-1
        block lineup
      .section.pure-u-1
        block food
      .section.pure-u-1
        block info
      .pure-u-1
        block footer
  script.
    var schemes = [
      Trianglify.colorbrewer.PuBu[6],
      Trianglify.colorbrewer.RdPu[6],
      Trianglify.colorbrewer.YlGn[6],
      Trianglify.colorbrewer.Greys[6],
    ];

    var i=0;
    d3.selectAll('.section').attr('style', function() {
      var t = new Trianglify({
        x_gradient: schemes[i++],
        noiseIntensity: 0,
        cellsize: 90  
      });

      var pattern = t.generate( this.offsetWidth , this.offsetHeight );
      return 'background-image: ' + pattern.dataUrl;
    });